table {
    text-align: center;
    margin: 2rem auto auto auto;
    border-collapse: collapse;
    padding: 0;
}

td,
tr {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

/* td img {
    border-collapse: collapse;
    display: block;
} */